//- head_tags.pug, block keyword added for processing purpose.
//- jade library doesn't process this file.
block head
  link(rel='icon', href='/favicon.png')
  link(href='/static/css/aah.css', rel='stylesheet')
  link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
  script(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
