//- pages/user/index.pug

block title
  title Pug View Engine - User Home

block content
  .container
    .row.text-center.welcome-msg
      img(src='/static/img/aah-framework-logo.png', alt='aah framework logo')
      h1 Welcome to {{ .GreetName }} {{ .PageName }}.
      form(class='', action='index.html', method='post')
